[Desktop Entry]
Name=Unmount storage
Comment=Unmount external storage before ejecting it
Exec=umount.sh
Icon=umount
Terminal=true
Type=Application
StartupNotify=true
Categories=settings;
