[Desktop Entry]
Name=Unmount microSD
Comment=Unmount the external microSD card before ejecting it
Exec=umount.sh
Icon=umount
Terminal=true
Type=Application
StartupNotify=true
Categories=settings;
